[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pydantic-settings = "*"
starlette = "*"
fastapi = "*"
uvicorn = "*"
types-pytz = "*"
pytz = "*"
scour = "*"
typing-extensions = "*"
kerykeion = "*"

[dev-packages]
black = "*"
pytest = "*"
mypy = "*"
httpx = "*"
types-requests = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn app.main:app --reload --log-level debug"
test = "pytest -v"
test-verbose = "pytest -vv"
quality = "python -m mypy --ignore-missing-imports ."
schema = "python dump_schema.py"
format = "black . --line-length 200"
